

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

// time to style!


html {
    font-size: calc(2vw + 10px);
    line-height: 1.5;
    margin: 0;
}
h1 {
    // font-family: 'Share Tech Mono', monospace;
    font-family: 'Major Mono Display', monospace;
}

p {
    // font-family: 'Red Hat Text', sans-serif;
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.6rem;
}

.score, .turns {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
}