// set colour variables
$background: #E4E3E1;
$accentred: #E85A4f;
$lightred: #D68F87;
$darkgrey: #555555;
// set wrapper
.wrapper {
    width: 90%;
    margin: 0 auto;
}
// general html settings
html {
    font-size: calc(2vw + 10px);
    line-height: 1.5;
    margin: 0;
    background: $background;
}
// main logo stylezzz
h1 {
    text-transform: uppercase;
    font-size: 1.9rem;
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    width: 50%;
    text-align: center;
    color: $accentred;
}
// quiz header stylez
h2 {
    font-family: 'Major Mono Display', monospace;
    font-size: 1rem;
    margin: 0;
    
}
// quiz question stylez
p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.9rem;
    margin-top: 5px;
}
// style landing page intruction paragraph
.instructions {
    white-space: pre-line;
    font-size: 0.8rem;
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}


footer p {
    text-align: center;
    font-size: 0.5rem;
    background: $accentred;
    padding: 5px;
    margin: 0;
}
